<div>
    <h1>Каталог фильмов</h1>    
    <p>{{ message}}</p>
    Search: <input ng-model="query">
    <div ng-show="films.length > 0">
        <a class="btn btn-primary" href="#/film/create">
            <i class="glyphicon glyphicon-plus"></i> Добавить
        </a>
        <table class="table table-striped table-hover">
            <thead>
            <th>Название</th>
            <th>Режиссер</th>
            <th>Описание</th>
            <th>Год</th>
            <th style="width:80px;">Действия&nbsp;</th>
            </thead>
            <tbody>
                <tr ng-repeat="data in films | filter:query">
                    <td>{{data.title}}</td>
                    <td>{{data.director}}</td>
                    <td>{{data.storyline}}</td>
                    <td>{{data.year}}</td>
                    <td>
                        <a class="btn btn-primary btn-xs" href="#/film/update/{{data.id}}">
                            <i class="glyphicon glyphicon-pencil"></i>
                        </a> 
                        <a class="btn btn-danger btn-xs" ng-click="deleteFilm(data.id)">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-show="films.length == 0">
        Каталог фильмов пуст
    </div>
</div>